@import '../../styles/styles.scss';
@import '../../styles/responsive.scss';

.button {
  position: relative;
  font-size: 1rem;
  border: 1px solid $yellow;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background: none;
}
.button {
  &:before {
    background: $yellow;
    content: '';
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-in-out;
    z-index: -1;
  }
}
.button {
  &:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
}
