@import '../../styles/styles.scss';
@import '../../styles/responsive.scss';

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  appearance: button;
  background: $light-purple;
  border-radius: 0.5rem;
  border-style: none;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  color: $light-orange;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.15;
  margin: 0;
  padding: 10px 22px;
  text-align: center;
  text-transform: none;
  transition: background 0.2s ease-in-out;
  &:hover {
    background-color: lighten($purple, 8%);
  }
  &--disabled {
    background: $grey;
    color: $light-orange;
    cursor: not-allowed;
    &:hover {
      background: $grey;
      pointer-events: none;
    }
  }
}
