@import '../../styles/styles.scss';
@import '../../styles/responsive.scss';

.doubleFaces {
  display: flex;
  gap: 3rem;
  @include md {
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 auto 2rem auto;
  }
}
