@import '../../styles/styles.scss';
@import '../../styles/responsive.scss';

.myForm {
  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  &__button {
    font-weight: $bold;
    margin: auto auto auto 0;
  }
}

.Toastify__toast-body {
  color: $purple;
}

.Toastify__toast-icon {
  margin: 0 3rem 0 0;
}

.Toastify__progress-bar-theme--light {
  background: linear-gradient(to right, $light-purple, $light-red, $yellow);
}

.Toastify__progress-bar--error {
  background: $light-red;
}
