@import '../../styles/styles.scss';
@import '../../styles/_responsive.scss';

.category {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin: 3rem 0;
    @include xs {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin: 1.5rem auto;
    }
    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
