@import '../../styles/styles.scss';
@import '../../styles/_responsive.scss';

.category {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  margin: 3rem 0;
  @include sm {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin: 1.5rem 0;
  }
}
