@import '../../../styles/styles.scss';
@import '../../../styles/responsive.scss';

.title {
  display: flex;
  align-items: center;
  color: $purple;
  font-family: 'Chubbo', sans-serif;
  margin-bottom: 3rem;
  &--yellow {
    color: $yellow;
  }
  &--lightPurlple {
    color: $light-purple;
  }
}
