@import '../../../styles/styles.scss';
@import '../../../styles/responsive.scss';

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 3rem 6rem;
  max-width: 1400px;
  margin: 0 auto;
  @include sm {
    padding: 2rem;
  }
  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
