@import '../../../styles/styles.scss';
@import '../../../styles/responsive.scss';

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: auto 200px;
    @include xs {
      margin: 0 0.625rem;
    }
    @include sm {
      margin: 0 0.625rem;
    }
    @include md {
      margin: 0 0.625rem;
    }
  }
}
