@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600;800&display=swap');

* {
  font-family: 'Maven Pro', sans-serif;
}

$white: #fbfefb;
$purple: #3a273f;
$yellow: #facd80;
$green: #4ebfa1;
$light-purple: #9d7aaf;
$light-red: #e07d7d;
$light-orange: #ffae70;
$light-blue: #97d1f5;

$box-shadow: rgba(58, 39, 63, 0.15) 0px 2px 8px;
