@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600&display=swap');

@font-face {
  font-family: 'Supreme';
  src: url('../assets/fonts/Supreme-Regular.woff2') format('woff2'),
    url('../assets/fonts/Supreme-Regular.woff') format('woff'),
    url('../assets/fonts/Supreme-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Chubbo';
  src: url('../assets/fonts/Chubbo-Bold.woff2') format('woff2'),
    url('../assets/fonts/Chubbo-Bold.woff') format('woff'),
    url('../assets/fonts/Chubbo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

* {
  font-family: 'Fira Sans', sans-serif;
}

$white: #ffffff;
$purple: #3a273f;
$yellow: #facd80;
$green: #4ebfa1;
$light-purple: #9d7aaf;
$light-red: #e07d7d;
$orange: #ffae70;
$light-orange: #fff3ed;
$light-blue: #97d1f5;

$light: 300;
$medium: 400;
$bold: 500;
$bolder: 600;

$box-shadow: rgba(58, 39, 63, 0.2) 0px 20px 30px;
$box-shadow-category-card: 0 4px 18px 0 rgba(58, 39, 63, 0.1);
