@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap');

* {
  font-family: 'Maven Pro', sans-serif;
}

$white: #ffffff;
$grey: #8e9aaf;
$light-grey: #e5e5e5;
$purple: #3a273f;
$yellow: #facd80;
$green: #4ebfa1;
$light-purple: #9d7aaf;
$light-red: #e07d7d;
$orange: #ffae70;
$light-orange: #fff3ed;
$light-blue: #97d1f5;

$bold: 600;
$bolder: 800;

$box-shadow: rgba(58, 39, 63, 0.2) 3px 3px 24px 0;
$box-shadow-card: 0 4px 18px 0 rgba(58, 39, 63, 0.1);
$box-shadow-card-hover: rgba(58, 39, 63, 0.25) 0px 13px 27px -5px,
  rgba(58, 39, 63, 0.3) 0px 8px 16px -8px;
