@import '../../styles/styles.scss';
@import '../../styles/responsive.scss';

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  width: 100vw;
  overflow: visible;
  &--isOpened {
    position: fixed;
    overflow: hidden;
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    @include sm {
      padding: 0 2rem;
    }
  }
}
