@import '../../styles/styles.scss';
@import '../../styles/responsive.scss';

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem 6rem 0 6rem;
  align-items: center;
  width: 100vw;
  overflow: visible;

  &--isOpened {
    position: fixed;
    overflow: hidden;
  }

  @include sm {
    padding: 0 2rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}