@import '../../styles/styles.scss';
@import '../../styles/responsive.scss';

.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1300px;
  margin: 0 0 3rem 0;
  padding: 20px;
  &__intro {
    display: block;
    font-weight: $bold;
    text-align: center;
    margin: 2rem auto 4rem auto;
    width: 50%;
    font-size: 1.6rem;
    line-height: 3.125rem;
    color: $light-purple;
    & strong {
      color: $purple;
      font-weight: $bolder;
      text-decoration-skip-ink: none;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-color: $light-blue;
      text-decoration-thickness: 0.25em;
      text-underline-offset: -0.1em;
    }
    & strong:last-of-type {
      color: $purple;
      font-weight: $bolder;
      text-decoration-skip-ink: none;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-color: $yellow;
      text-decoration-thickness: 0.25em;
      text-underline-offset: -0.1em;
    }
    @include md {
      font-size: 1.4rem;
      width: 90%;
      margin: 1rem auto 4rem auto;
    }
  }
  &__subheading {
    margin: 0 0 2rem 0;
  }
  &__faq {
    margin: 4rem 0 3rem 0;
  }
  &__section {
    display: flex;
    flex-direction: column;
  }
}
