@import '../../styles/styles.scss';
@import '../../styles/responsive.scss';

.checkboxes {
  margin: 0 0 2rem 0;

  &__label {
    font-size: 0.75rem;
    color: $grey;
    font-weight: $bold;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
  }
}