@import '../../../styles/styles.scss';
@import '../../../styles/responsive.scss';

.header {
  display: flex;
  width: 100vw;
  height: 100px;
  background-color: $white;
  &__link {
    display: flex;
  }
  &__logo {
    width: 300px;
    justify-content: center;
    align-items: center;
    margin: auto auto auto 100px;
    @include sm {
      width: 175px;
      margin: auto auto auto 50px;
    }
  }
  &__navMenu {
    margin: auto 100px auto auto;
    @include xs {
      display: none;
    }
    @include sm {
      display: none;
    }
    @include md {
      display: none;
    }
  }
  &__navResponsive {
    display: none;
  }
  &__navIcon {
    display: none;
    @include xs {
      display: block;
      margin: auto 50px auto auto;
    }
    @include sm {
      display: block;
      margin: auto 50px auto auto;
    }
    @include md {
      display: block;
      margin: auto 50px auto auto;
    }
  }
}
