@import '../../styles/styles.scss';
@import '../../styles/responsive.scss';

.subheading {
  color: $purple;
  font-weight: $bolder;
  font-size: 2rem;
  letter-spacing: 0.05rem;
  @include md {
    font-size: 1.5rem;
  }
}
