@import '../../styles/styles.scss';
@import '../../styles/responsive.scss';

.subheading {
  color: $purple;
  font-weight: $bold;
  text-transform: uppercase;
  font-size: 2.2rem;
  letter-spacing: 0.05rem;
  @include md {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}
