@import '../../styles/styles.scss';
@import '../../styles/responsive.scss';

.header {
  display: flex;
  transition: all 0.3s ease-in-out;
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;

  @include sm {
    padding: 3rem 0;
  }

  &__link {
    display: flex;
    flex: 1 1 0px;
  }

  &__logo {
    width: 250px;

    @include sm {
      width: 200px;
    }
  }

  &__navMenu {
    @include sm {
      display: none;
    }
  }

  &__navIcon {
    display: none;

    @include sm {
      display: block;
    }
  }
}