@import '../../styles/styles.scss';
@import '../../styles/responsive.scss';

.subtitle {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: $purple;
  @include sm {
    font-size: 1.5rem;
  }
}
