@import '../../../styles/styles.scss';
@import '../../../styles/responsive.scss';

.explore {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  max-width: 1200px;
  width: 100%;
  @include sm {
    margin-bottom: 2.5rem;
  }
  &__header {
    display: flex;
    margin-bottom: 5rem;
    @include sm {
      flex-direction: column;
      margin-bottom: 3rem;
    }
    &__title {
      font-size: 2rem;
      font-weight: $bolder;
      @include sm {
        font-size: 1.4rem;
        margin-bottom: 2rem;
      }
    }
    &__details {
      margin: auto 0 auto auto;
    }
  }
  &__categoryCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    @include sm {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
