@import '../../../styles/styles.scss';
@import '../../../styles/responsive.scss';

.explore {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin-bottom: 5rem;
  &__header {
    display: flex;
    margin-bottom: 5rem;
    &__title {
      font-size: 2rem;
      color: $purple;
    }
    &__details {
      font-size: 1.2rem;
      margin: auto 0 auto auto;
      font-weight: $light;
    }
  }
  &__categoryCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}
