@import '../../styles/styles.scss';
@import '../../styles/responsive.scss';

.footer {
  background-color: $purple;
  &__bottom {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 5px;
    width: 100vw;
    line-height: 1.5rem;
    letter-spacing: 0.07rem;
    padding: 1rem 0;
    font-size: 0.7rem;
    @include sm {
      padding: 0.5rem 1rem;
    }
  }
}
