@import '../../styles/styles.scss';
@import '../../styles/responsive.scss';

.footer {
  display: flex;
  flex-direction: column;
  background-color: $purple;
  align-items: center;

  &__main {
    max-width: 1300px;
    width: 83%;
    display: flex;
    justify-content: space-between;

    @include sm {
      width: 85%;
    }
  }

  &__logo {
    width: 60px;
    margin: 2rem 0;

    @include sm {
      width: 40px;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2rem 0;
    align-items: flex-end;
    font-size: 0.8rem;
  }

  &__bottom {
    justify-content: center;
    width: 100vw;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
    padding: 1rem 0;
    font-size: 0.6rem;
    border-top: 1px solid $light-purple;
  }
}