@import '../../../styles/styles.scss';
@import '../../../styles/responsive.scss';

.discover {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: calc(100vh - 73px);
  @include sm {
    height: auto;
    flex-direction: column-reverse;
    margin-bottom: 3rem;
  }
  @include md {
    height: auto;
    flex-direction: column-reverse;
  }
  &--left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    @include sm {
      margin: 3rem auto 3rem auto;
      width: 100%;
    }
    @include md {
      margin: 3rem auto 3rem auto;
      width: 100%;
    }
    &__titleContainer {
      width: 100%;
      &__intro {
        line-height: 1.5;
        letter-spacing: 0.05rem;
        margin-bottom: 3rem;
        font-size: 1.4rem;
        @include sm {
          font-size: 1rem;
        }
      }
    }
    &__scrollDown {
      display: flex;
      align-items: center;
      &__paragraph {
        font-weight: $bold;
        margin-right: 2rem;
        font-size: 1.4rem;
        @include sm {
          font-size: 1.2rem;
        }
      }
    }
  }
  &--right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    @include sm {
      display: block;
      width: 100%;
    }
    @include md {
      display: block;
      width: 100%;
    }
    &__pictureContainer {
      margin: 5rem auto 3rem auto;
    }
    &__picture {
      width: 100%;
      margin-left: 5rem;
      @include sm {
        margin-left: auto;
      }
      @include md {
        margin-left: auto;
      }
    }
  }
}
