@import '../../../styles/styles.scss';
@import '../../../styles/responsive.scss';

.about {
  display: flex;
  flex-direction: column;
  margin: auto;
  &__header {
    display: flex;
    margin: 2rem auto;
    gap: 2rem;
    @include sm {
      gap: 1.5rem;
    }
  }
  &__mission {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__intro {
    display: flex;
    text-align: center;
    width: 40%;
    font-size: 1.4rem;
    line-height: 2.125rem;
    color: $light-purple;
    margin: 0 0 2rem 0;
    @include sm {
      font-size: 1.1rem;
      width: 100%;
    }
  }
  &__logo {
    width: 10%;
    @include sm {
      width: 25%;
    }
  }
  &__cards {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    @include sm {
      flex-direction: column;
    }
  }
}
