@import '../../../styles/styles.scss';
@import '../../../styles/responsive.scss';

.categoryCard {
  border: 2px solid $white;
  background-color: $white;
  box-shadow: $box-shadow-card;
  height: 250px;
  padding: 1.15rem;
  border-radius: 0.5rem;
  cursor: pointer;
  &:hover {
    border-color: $light-purple;
  }
  &__header {
    width: 100%;
    height: 50%;
  }
  &__footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;

    &__label {
      line-height: 1.7;
      font-size: 1.3rem;
      font-weight: $bold;
      text-transform: capitalize;
    }
    &__ressources {
      line-height: 1.7;
      font-size: 1.2rem;
      margin: auto 0 auto auto;
    }
  }
}
