@import '../../../styles/styles.scss';
@import '../../../styles/responsive.scss';

.categoryCard {
  border: 2px solid $white;
  background-color: $white;
  box-shadow: $box-shadow-card;
  border-radius: 0.5rem;
  cursor: pointer;
  &:hover {
    border-color: $light-purple;
  }
  &__header {
    padding-top: 2rem;
    @include sm {
      padding: 1.5rem;
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    @include sm {
      padding: 1.5rem;
    }
    &__label {
      font-size: 1.2rem;
      font-weight: $bold;
      @include sm {
        font-size: 1rem;
      }
    }
    &__ressources {
      font-size: 1.2rem;
      @include sm {
        font-size: 1rem;
      }
    }
  }
}
