@import '../../../styles/styles.scss';
@import '../../../styles/responsive.scss';

.navMenu {
  display: flex;
  align-items: center;
  z-index: 1;
  &__container {
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  &__link {
    display: flex;
    align-items: center;
    color: $purple;
    font-size: 1.2rem;
    margin: 0 0 0 3rem;
    padding: 1.5rem 0;
  }
  &__icon {
    width: 25px;
    height: 25px;
    color: $light-purple;
    margin: 0 0 0 5px;
    transition: all 0.3s ease-in-out;
  }
  &__submenusContainer {
    position: absolute;
    background-color: $white;
    display: none;
    flex-direction: column;
    border-radius: 0.5rem;
    top: 60px;
    left: -25px;
    min-width: 220px;
    box-shadow: $box-shadow;
  }
  &__submenuContainer {
    border-left: 0.3rem solid $white;
    padding: 15px 25px;
    cursor: pointer;
    &:hover {
      background-color: lighten($purple, 70%);
      font-weight: $bolder;
      border-left: 0.3rem solid $purple;
    }
  }
  &__submenuContainer:first-of-type {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }
  &__submenuContainer:last-of-type {
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
  &__submenu {
    display: flex;
    font-size: 1.1rem;
    line-height: 1.5em;
    letter-spacing: 0.05rem;
    &:hover {
      background-color: lighten($purple, 70%);
    }
    &__icon {
      font-size: 1.5rem;
      margin: 0 15px 0 0;
    }
  }
}

.navMenu__container:hover .navMenu__submenusContainer {
  display: flex;
}

.navMenu__container:hover .navMenu__icon {
  rotate: 180deg;
  transition: all 0.3s ease-in-out;
}
